@{
    ViewData["Title"] = "Incident";
}
<h2>Incident Manager</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
@*change the asp-action to add, if the add/edit file is created*@
<a class="btn btn-primary" asp-controller="Home" asp-action="Registration">Add Incident</a>