@{
    ViewData["Title"] = "Registration";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Registration</h2>
    <h1 style="text-align: center">
        404 Error
        PAGE NOT AVAILABLE
    </h1>
</body>
</html>
