@{
    ViewData["Title"] = "Technician";
}
<h2>Technician Manager</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
@*change the asp-action to add, if the add/edit file is created*@
<a class="btn btn-primary" asp-controller="Home" asp-action="Registration">Add Technician</a>